<table>
     <tr>
         <td><a href="https://krishnadevl.github.io/AlgorithmsCS3/">Home</a></td>
         <td><a href="https://krishnadevl.github.io/AlgorithmsCS3/content/content_toc">Collegeboard Notes</a></td>
         <td><a href="https://krishnadevl.github.io/AlgorithmsCS3/content/krish_create">Create Task</a></td>
         <td><a href="https://krishnadevl.github.io/AlgorithmsCS3/content/algorthms">Replit</a></td>
         <td><a href="https://krishnadevl.github.io/AlgorithmsCS3/content/testcorrections">Test Corrections</a></td>
          
     </tr>
 </table>
